* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #111;
  position: relative;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #222, #444);
}

.item{
  font-size: 6rem;
  line-height: 6rem;
  font-family: "Trebuchet MS", sans-serif;
  color: #fff;
  animation: shaking .2s steps(6, end) infinite;
  white-space: nowrap;
  mix-blend-mode: screen;
}

.item figcaption {
  display: inline;
}

.item .svg-tiktok{
  fill: #fff;
  width: 8rem;
  height: 8rem;
  transform: translateY(1rem);
}

.item.zh .svg-tiktok{
  transform: translateY(1.5rem);
}

@keyframes shaking{
  0%{
    /* Using filter cause text-shadow doesn't support svgs */
    filter: drop-shadow(3px 3px 0px #0ff) drop-shadow(-3px -3px 0px #f00);
    transform: translate(1px, 1px);}
  20%{
    filter: drop-shadow(-3px 3px 0px #0ff) drop-shadow(3px -3px 0px #f00);
    transform: translate(-2px, 1px);}
  40%{
    filter: drop-shadow(3px -3px 0px #0ff) drop-shadow(3px -3px 0px #f00);
    transform: translate(1px, -1px);}
  60%{
    filter: drop-shadow(-3px -3px 0px #0ff) drop-shadow(3px 3px 0px #f00);
    transform: translate(-1px, -1px);}
  80%{
    filter: drop-shadow(-2px 3px 0px #0ff) drop-shadow(-3px 2px 0px #f00);
    transform: translate(2px, 0px);}
  100%{
    filter: drop-shadow(-3px 1px 0px #0ff) drop-shadow(1px -3px 0px #f00);
    transform: translate(1px, 1px);}
}